*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: #F5F5F5;
    color: #9f9f9f;
    font-size: 11px;
    font-family: "trebuchet ms", helvetica, tahoma, sans-serif;
    color: #000000;
}

a
{
    text-decoration: inherit;
    color: #191970;
    font-weight: bold;
    font-style: italic;        
}

a.login{
       text-decoration: inherit;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;        
}

a:hover
{    
    color: #483D8B;
    text-decoration: underline;
}

a:hover.login
{    
    color: #ffffff;
    text-decoration: underline;
}

strong
{
    background: inherit;
    color: #50514D;
}

#header
{
    position: absolute;
    width: 1250px;
    height: 104px;
    top: 0;
    left: 0;
    background-color: #4d4d4d;
    background: url('images/a1.gif') repeat-x;
    color: #ffffff;
    margin: 0px auto;
    padding: 12px;
    text-align: right;
}

#header_inner
{
    position: absolute;
    width: 680px;
    height: 90px;
    margin: 0px auto;
}

#header_inner h1
{
    background: inherit;
    position: absolute;
    left: 30px;
    bottom: 20px;
    font-size: 25px;
    color: #fff;
    font-weight: normal;
    letter-spacing: -2px;
}

#main
{
    background: #F5F5F5;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin: 0px auto;
    height: 540px;
    width: 990px;
    top:104px;
    left:230px;
    display: inline;
    text-align: center;
    overflow: auto;
}

#loginmain
{
    background: #F5F5F5;
    position: absolute;
    margin: 0px auto;
    height: 540px;
    width: 1250px;
    top:120px;
    left:0px;
    text-align: center;
}

#leftmenu
{
    background: #F5F5F5;
    width: 230px;
    height: 540px;
    top:104px;
    left:0;
    position: absolute;
    float: left;
}


.left {
    float: left;
    margin: 0 0 10px;
    width: 230px;
    position: relative;
}

.center {
    float: none;
    margin: 0 0 10px;    
    position: relative;
}

.text1 {
    border: 1px dashed #4682B4;
    margin: 3px 0 0 5px;
    padding: 10px;
    width: 200px;
    position: relative;
    text-align: left;
}

.title1{
    border-bottom: 3px solid #4682B4;
    margin: 3px 0 0 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    width: 200px;
    position: relative;
    text-align: left;
    color: #737373;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    text-align: left;

}

.text2{
    border: 1px dashed #4682B4;
    margin: 3px 150px 3px 150px;
    padding: 10px;
    position: relative;
    text-align: left;
}

.title2{
    border-bottom: 3px solid #4682B4;
    margin: 3px 150px 0 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    position: relative;
    text-align: left;
    color: #737373;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    text-align: left;

}

.text3{
    border: 1px #4682B4;
    margin: 3px 0px 3px 0px;
    padding: 10px;
    position: relative;
    text-align: left;
}

ul
{
    list-style: none;
}


li
{
    padding-left: 5px;
}

#footer
{
    clear: both;
    background: url('images/a2.gif') repeat-x #ffffff;
    margin: 0px auto;
    padding: 12px;
    top: 644px;
    left: 0px;
    width: 1250px;
    text-align: center;
    position: absolute;
}

table, td, tr
{
    text-align: left;
    font-size: 12px;
    font-family: "trebuchet ms", helvetica, tahoma, sans-serif;
    color: #000000;
    line-height: 17px;
    letter-spacing: 1px;
    padding: 3px;
}

table.center{
    margin-left: auto;
margin-right: auto;    
text-align: center;
}

h4{
    font-size: 13px;
    font-family: "trebuchet ms", helvetica, tahoma, sans-serif;
    color: crimson;
}

h3{
    font-size: 18px;
    font-family: "trebuchet ms", helvetica, tahoma, sans-serif;
    color: darkred;
}


