*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: #F5F5F5;
    color: #9f9f9f;
    font-size: 11px;
    font-family: "trebuchet ms", helvetica, tahoma, sans-serif;
    color: #000000;
}

a
{
    text-decoration: inherit;
    color: #191970;
    font-weight: bold;
    font-style: italic;
        
}

a:hover
{    
    color: #483D8B;
    text-decoration: underline;
}

strong
{
    background: inherit;
    color: #50514D;
}

#header
{
    width: 100%;
    height: 104px;
    background-color: #4d4d4d;
    background: url('images/a1.gif') repeat-x;
    color: #ffffff;
}

#header_inner
{
    position: absolute;
    width: 680px;
    height: 104px;
    margin: 0px auto;
}

#header_inner h1
{
    background: inherit;
    position: absolute;
    left: 30px;
    bottom: 20px;
    font-size: 25px;
    color: #fff;
    font-weight: normal;
    letter-spacing: -2px;
}

/*#header_inner h1 span
{
    background: inherit;
    color: #DADADA;
}*/

/*#slogan
{
    background: inherit;
    position: absolute;
    right: 0px;
    bottom: 25px;
    color: #DADADA;

    font-size: 13px;
}*/

#main
{
/*    background: url("images/f1.jpg") #F5F5F5;*/
    background: #F5F5F5;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: auto;
    height: 530px;
    text-align: center;
    overflow: auto;
}

#leftmenu
{
    background: #F5F5F5;
    width: 200px;
    height: 530px;
    position: relative;
    float: left;
}


.left {
    float: left;
    margin: 0 0 10px;
    width: 200px;
    position: relative;
}

.center {
    float: none;
    margin: 0 0 10px;    
    position: relative;
}

.text1 {
    border: 1px dashed #4682B4;
    margin: 3px 0 0 5px;
    padding: 10px;
    width: 165px;
    position: relative;
    text-align: left;
}

.title1{
    border-bottom: 3px solid #4682B4;
    margin: 3px 0 0 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    width: 165px;
    position: relative;
    text-align: left;
    color: #737373;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    text-align: left;

}

.text2{
    border: 1px dashed #4682B4;
    margin: 3px 150px 3px 150px;
    padding: 10px;
    position: relative;
    text-align: left;
}

.title2{
    border-bottom: 3px solid #4682B4;
    margin: 3px 150px 0 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    position: relative;
    text-align: left;
    color: #737373;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    text-align: left;

}

.text3{
    border: 1px #4682B4;
    margin: 3px 0px 3px 0px;
    padding: 10px;
    position: relative;
    text-align: left;
}

#lcontent
{
    position: relative;
    padding: 0px 15px 0px 15px;
}

#rcontent
{
    position: relative;
    padding: 25px 20px 0px 20px;
}

ul
{
    list-style: none;
}


li
{
    padding-left: 5px;
}
/*
p
{
    margin-bottom: 25px;
    text-align: justify;
    line-height: 20px;
}

#lcol p
{
    font-size: 10px;
    line-height: 16px;
    margin: 0px;
}

.divider
{
    font-size: 0px;
    position: relative;
    border-bottom: solid 1px #F5F5F5;
    height: 1px;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.summary
{
    text-align: right;
    font-style: italic;
}

ul.divided li
{
    border-top: solid 1px #F5F5F5;
    margin-top: 4px;
    padding-top: 4px;
    background-position: 0px 9px;
}

ul.divided li.first
{
    border-top: 0px;
    margin-top: 0px;
    padding-top: 0px;
    background-position: 0px 5px;
}

#rcol
{
    position: relative;
    margin-left: 190px;
    width: 485px;
    background-image: url('images/a2.gif');
    background-repeat: repeat-x;
}

#slogan2
{
    font-size: 14px;
    position: relative;
    top: -5px;
}

.box
{
    position: relative;
    border: dashed 1px #dadada;
    margin-top: 15px;
    background: inherit;
    color: #AAB165;
}

.box h2
{
    background: inherit;
    color: #6C7425;
    <div></div>
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 5px;
}

.box p
{
    font-size: 10px;
    line-height: 16px;
    margin: 0px;
}

.box_inner
{
    border: solid 1px #fff;
    padding: 15px;
    background: #FFFFE9 url('images/a4.gif') repeat-x;
    color: inherit;
}

.captioned_image
{
    position: relative;
    padding-bottom: 15px;
    float: left;
    margin-right: 17px;
}

.captioned_image div
{
    position: absolute;
    font-size: 9px;
    bottom: 0px;
    left: 0px;
}*/

#footer
{
    clear: both;
    background: url('images/a2.gif') repeat-x #ffffff;
    margin: 0px auto;
    padding: 12px;
    text-align: center;
    position: relative;
}

table, td, tr
{
    text-align: left;
    font-size: 12px;
    font-family: "trebuchet ms", helvetica, tahoma, sans-serif;
    color: #000000;
    line-height: 17px;
    letter-spacing: 1px;
    padding: 3px;

}

h4{
    font-size: 13px;
    font-family: "trebuchet ms", helvetica, tahoma, sans-serif;
    color: crimson;
}

h3{
    font-size: 18px;
    font-family: "trebuchet ms", helvetica, tahoma, sans-serif;
    color: darkred;
}


